@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IAuthorizationService authorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GG</title>
    @* Start TagControl *@
    <script defer type="text/javascript" src="~/Scripts/bootstrap-tagsinput.js"></script>
    <link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet">
    @* End TagControl *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap" rel="stylesheet">
    <script defer src="~/js/site.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/GG-logo_73x80px-light.png" height="80" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Startsida</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="AuctionItem" asp-action="ListAuctionItems" asp-route-id="">Auktionsobjekt</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="AuctionItem" asp-action="CreateNewAuctionItem">Skapa nytt auktionsobjekt</a>
                        </li>
                        }
                        @* if(User.IsInRole("Auctioneer")) *** Varför funkar inte? *@
                        <ul class="navbar-nav ml-auto">
                            @{
                                var user = await UserManager.GetUserAsync(User);
                                if(user != null)
                                {
                                    bool isValid = UserManager.IsInRoleAsync(user, "Purchaser").Result;
                                    if (isValid)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-warning" asp-controller="Role" asp-action="ChangeRole" asp-route-id="">Bli Auktionsutropare</a>
                                        </li>
                                    }
                                }
                                if(user != null)
                                {
                                    bool isValid = UserManager.IsInRoleAsync(user, "Auctioneer").Result;
                                    if (isValid)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-warning" asp-controller="Role" asp-action="ChangeRole" asp-route-id="">Bli Inköpare</a>
                                        </li>
                                    }
                                }
                            }
                            <partial name ="_LoginPartial" />
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer-dark bg-dark">
        <div class="container text-light">
            &copy; 2021 - Gammalt Glimmer
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
