
<div id="err404container">
    <div id="eyeContainer">
        <img id="blinkingEyes" src="~/img/eyes.gif" alt="blinking eyes">
    </div>
    <div id="textContainer">
        <img id="darkText" src="~/img/dark-text.png">
    </div>
</div>