@{
    ViewData["Title"] = "Home Page";
}

<div class="row d-flex justify-content-center">
    <img src="~/img/Logo-GG-200x241px.png" alt="" srcset="">
</div>
<div class="row d-flex justify-content-center">
    <h1 class="container mt-3 text-center">
        Välkommen till Gammalt Glimmer!
    </h1>
    <div class="container px-5 text-center">
        På denna sidan kan du hitta våra auktionsobjekt till försäljning. Just nu är sidan under konstruktion och du som besökare kan bara se auktionsobjekten och inte via sidan lägga något bud.  Vill du lägga bud på något objekt går det bra att kontakta oss via telefon eller e-post.
    </div>
    <div class="container mt-4 px-5 text-center">
        <h4 class="text-center">Intern information</h4>
        Som anställd på GG så skapar du ett nytt konto. Klicka på på »Registrera nytt konto« och skriv in dina uppgifter. Du loggas automatiskt in efter registrering. Som <strong>Inköpare</strong> kan du registrera nya inköpta auktionsobjekt samt lista de auktionsobjekt du själv skapat. </br>
        Som <strong>Auktionsutropare</strong> på GG kan du se alla auktionsobjekt som finns registrerade. Du kan också ändra objekt till sålda, levererade samt ange försäljningspriset. </br>
        Val av roll gör du som inloggad genom att klicka på menyvalet »Bli Inköpare« eller »Bli Auktionsutropare«. </br>
        Kategorisering av auktionsobjekt gör du genom att lägga till taggar på objektet. Redigering av taggar och beskrivning kan göras av auktionsutropare. För att sortera utifrån kategori klickar man på den taggen som auktionsobjekten ska sorteras efter. </br>
        <strong>Lycka till!</strong>
    </div>
</div>
